<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Website By Curtis</title>
        <link rel="stylesheet" href="/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.4/lottie.min.js"></script>
        <link rel="icon" href="/assets/coffee-cup.svg" type="image/x-icon">
    </head>
    <body>
        <div class="page">
            <div class="page-content">
                {% include 'navbar.njk' %}
                {% include 'hero.njk' %}
                    <div class="page-break"></div>
                {% include 'overview.njk' %}
                    <div class="page-break"></div>
                {% include 'benefits.njk' %}
                    <div class="page-break"></div>
                {% include 'snapshot.njk' %}
                    <div class="page-break"></div>
                {% include 'philosophy.njk' %}
                    <div class="page-break"></div>
                {% include 'features.njk' %}
                    <div class="page-break"></div>
                {% include 'how-it-works.njk' %}
                    <div class="page-break"></div>
                {% include 'pricing.njk' %}
                    <div class="page-break"></div>
                {% include 'faqs.njk' %}
                    <div class="page-break"></div>
                {% include 'contact.njk' %}
                    <div class="page-break"></div>
                {% include 'footer.njk' %}
            </div>
        </div>
    </body>
</html>