<div class="hero">
    <img class="hero-logo" src="\assets\hero-logo.png" alt="hero logo">

    <div class="button-wrap">
        <button class="yellow-btn">See Service</button>
    </div>

    <div class="hero-image">
        <img class="coffee-1" src="\assets\art\coffee-cup-1.png" alt="Spilling coffee cup">
    </div>


</div>