<section class="how-it-works-section">
    <div class="content-background">
        <div class="section-title">
    <h2>How it works</h2>
    </div>
    <div class="how-grid">
        <div class="how-grid-cell">
            <div class="faq-container">
                <div class="faq-item">
                    <input type="checkbox" id="faq1">
                        <label for="faq1" class="faq-label">
                            <span>Figma Design File</span>
                            <div class="arrow"></div>
                        </label>
                        <div class="faq-content">
                            <p>If you're someone who has a clear vision and perhaps a bit of design know-how, submitting a Figma design file could
                                be the way to go. This method is perfect for those who have their website design polished and ready to go. By providing
                                a final design file in Figma format, you're ensuring that we can maintain a streamlined process from design to
                                development. It's all about efficiency and precision, making sure that the website we build together perfectly matches
                                your expectations.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <input type="checkbox" id="faq2">
                            <label for="faq2" class="faq-label">
                                <span>Existing Site or Template</span>
                                <div class="arrow"></div>
                            </label>
                            <div class="faq-content">
                                <p>For those who already have a Webflow site or have fallen in love with a specific template, this approach allows us to build upon what you already admire. It's about taking the essence of your current site or chosen template and infusing it with fresh innovation. This method ensures that your new site retains the familiarity and appeal of your existing online presence while elevating it to new heights.</p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <input type="checkbox" id="faq3">
                                <label for="faq3" class="faq-label">
                                    <span>Conversion & Emulation</span>
                                    <div class="arrow"></div>
                                </label>
                                <div class="faq-content">
                                    <p>If there's a website out there that captures everything you envision for your own site, our conversion and emulation service is designed to bring that vision to life. This 1:1 transformation process meticulously replicates the design and functionality of your chosen example, ensuring that every detail aligns perfectly with your expectations. It's an ideal solution for those looking to mirror an existing site with precision.</p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <input type="checkbox" id="faq4">
                                    <label for="faq4" class="faq-label">
                                        <span>Collaborate with the Designer</span>
                                        <div class="arrow"></div>
                                    </label>
                                    <div class="faq-content">
                                        <p>For those who are looking for a more guided approach, collaborating directly with me combines your inspiration with my design expertise. By sharing 5-10 website designs that resonate with you, we can start to understand your aesthetic preferences and functional needs. I'll then craft a mockup of the home page, setting the foundational tone for your entire site. This collaborative method ensures that the final design truly reflects your brand's identity and meets your specific needs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="how-grid-cell">
                            <div class="dev-stages">
                                <h3>4 Stages of Development</h3>
                                <br>
                                    <div class="stage-wrap">
                                        <p>Stage 1:
                                            <br>
                                                Discovery / Onboarding</p>
                                            <p>Stage 2:
                                                <br>
                                                    Design Direction</p>
                                                <p>Stage 3:
                                                    <br>
                                                        Development Phase</p>
                                                    <p>Stage 4:
                                                        <br>
                                                            Review & Revision</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </section>