<div class="overview">
    <div class="section-title">Why you should choose
        <span>Curtis Brighton?</span>
    </div>
    <div class="sub-heading">I don’t touch template
    </div>
    <p>
        My service is designed to offer a streamlined, efficient, and cost-effective solution for individuals, startups, and
        small businesses looking to establish a strong online presence. With a focus on functionality, aesthetics, and rapid
        delivery, this package lays the foundation for a professional and responsive website that not only attracts visitors but
        also effectively communicates your brand message.
    </p>
    <div class="overview-grid">
        <div class="overview-grid-cell">
            <img src="/assets/svg/cost-svg.svg" alt="Hosting Image">
            <div class="overview-title">Affordable Hosting</div>
            <p>Choose from our reliable and secure hosting plans to keep your website up and running smoothly.</p>
        </div>
        <div class="overview-grid-cell">
            <img src="/assets/svg/custom-svg.svg" alt="Custom Image">
            <div class="overview-title">Custom Websites</div>
            <p>Stand out with a unique, professionally designed website that reflects your brand identity.</p>
        </div>
        <div class="overview-grid-cell">
            <img src="/assets/svg/owner-svg.svg" alt="Ownership Image">
            <div class="overview-title">Full Ownership</div>
            <p>Enjoy complete ownership of your website's source code and design.</p>
        </div>
        <div class="overview-grid-cell">
            <img src="/assets/svg/cms-svg.svg" alt="CMS Image">
            <div class="overview-title">Easy-to-Use CMS</div>
            <p>Manage your content effortlessly with our user-friendly content management system.</p>
        </div>
    </div>

    <div class="text-banner">
        Take control of your site!
    </div>
</div>