<section class="price-section">
    <div class="overview">
    <div class="price-grid">
        <div class="package-cell">
            <div class="price-title">Classic Website Package</div>
            <div class="price-tag">$300<span>/ upfront</span>
            </div>
            <div class="line"></div>
            <div class="package-info">
                <div class="package-info-cell">
                    <h3>What you get:</h3>
                    <ul>
                        <li>Site Source Code</li>
                        <li>Figma Design Files</li>
                        <li>FREE Style Guide</li>
                    </ul>
                    <br>
                        <h3>Site Specs:</h3>
                        <ul>
                            <li>5 Pages / 6 Section</li>
                        </ul>
                        <br>
                            <h3>Features:</h3>
                            <ul>
                                <li>Responsive Design</li>
                                <li>CMS</li>
                                <li>Contact Form</li>
                                <li>Email Collection</li>
                            </ul>
                        </div>
                        <div class="package-info-cell">
                            <h3>Delivery Overview:</h3>
                            <ul>
                                <li>7 Day Delivery</li>
                                <li>Unlimited Revisions</li>
                            </ul>
                            <br>
                                <div class="want-more">
                                    Want more from your site?
                                </div>
                                <br>
                                    <p>Extra Pages: $39 per page</p>
                                    <br>
                                        <p class="p-center">OR</p>
                                        <br>
                                            <p class="p-center">Get a fully custom website to match your needs</p>
                                        </div>
                                    </div>
                                    <div class="price-cta">
                                        <button class="yellow-btn">Get Started</button>
                                    </div>
                                </div>
                                <div class="hosting-cell">
                                    <div class="price-title">Hosting</div>
                                    <div class="price-tag">$12<span>/ per month</span>
                                    </div>
                                    <div class="line"></div>
                                    <br>
                                        <h3>Includes:</h3>
                                        <ul>
                                            <li>100 Form Submissions</li>
                                            <li>CMS Admin Login</li>
                                            <li>Contact Form Email</li>
                                            <li>Email Collection</li>
                                            <li>Google Analytics</li>
                                        </ul>
                                        <div class="price-title">Cancel Anytime</div>
                                        <div class="info-link">
                                            What happens if don't want to use your hosting option?
                                        </div>
                                    </div>
                                </div>
                                <div class="price-questions">
                                    Still Have Questions?
                                </div>
                                </div>
                            </section>
                            