<div class="trusted-title">
    Trusted by:
</div>
<div class="grid-wrap">
    <div class="grid">
        <div class="grid-card">
            <img src="\assets\trusted_logos\goodberrys.png" alt="Goodberry's logo">
        </div>
        <div class="grid-card">
            <img src="\assets\trusted_logos\are.png" alt="ARE logo">
        </div>
        <div class="grid-card">
            <img src="\assets\trusted_logos\pot-belly.png" alt="Pot Belly logo">
        </div>
        <div class="grid-card">
            <img src="\assets\trusted_logos\bon-ton.png" alt="Bon Ton logo">
        </div>
    </div>
</div>